.pros-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 100%;
  padding: 0 12px;
  &-title {
    &-fixed {
      position: relative;
      color: white;
      font-size: 87px;
      font-weight: 900;
      /* We need double the stroke width because half of it gets covered up */
      -webkit-text-stroke: 4px #7e1322;
    }
    /* Place the second copy of the text over top of the first */
    &-fixed span {
      position: absolute;
      left: 0;
      -webkit-text-stroke: 0;
      pointer-events: none;
    }
  }
  &-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    &-text-left {
      display: flex;
      flex-direction: row;
      justify-content: center;
      //   align-items: center;
      gap: 15px;
      width: 100%;
      height: 100%;
      &-text {
        padding: 20px 0;
        text-align: right;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;
        &-main {
          text-align: right;
          &-title {
            font-size: 36px;
            font-weight: 600;
            text-align: right;
            overflow-wrap: break-word;
            max-width: 400px;
          }
          &-sub {
            font-size: 36px;
            font-weight: 600;
            color: white;
            border-radius: 28px;
            padding: 0 10px;
            text-align: right;
            width: fit-content;
          }
        }
        &-paragraph {
          font-size: 32px;
          height: 100%;
        }
      }
      &-content {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 548px;
        border-radius: 30px;
        width: 100%;
      }
    }
    &-text-right {
      display: flex;
      flex-direction: row;
      justify-content: center;
      //   align-items: center;
      gap: 15px;
      width: 100%;
      height: 100%;
      &-text {
        padding: 20px 0;
        text-align: left;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start !important;
        &-main {
          text-align: left !important;
          &-title {
            font-size: 36px;
            font-weight: 600;
            text-align: left !important;
            color: white;
            border-radius: 28px;
            padding: 0 10px;
            width: fit-content;
          }
          &-sub {
            font-size: 36px;
            font-weight: 600;
            text-align: left !important;
          }
        }
        &-paragraph {
          font-size: 30px;
          height: 100%;
        }
      }
      &-content {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        height: 548px;
        border-radius: 30px;
        width: 100%;
      }
    }
  }
}

.left-animated {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding-left: 100px;
  z-index: 999;
}

.right-animated {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 100px;
  z-index: 999;
}
