.photogallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 100%;

  &-title {
    &-fixed {
      position: relative;
      color: white;
      font-size: 87px;
      font-weight: 900;
      /* We need double the stroke width because half of it gets covered up */
      -webkit-text-stroke: 4px #7e1322;
    }
    /* Place the second copy of the text over top of the first */
    &-fixed span {
      position: absolute;
      left: 0;
      -webkit-text-stroke: 0;
      pointer-events: none;
    }
  }
  &-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    &-arrow-new {
      display: none;
    }
  }
}

@media (max-width: 920px) {
  .photogallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;

    &-title {
      &-fixed {
        position: relative;
        color: white;
        font-size: 28px;
        font-weight: 900;
        /* We need double the stroke width because half of it gets covered up */
        -webkit-text-stroke: 4px #7e1322;
      }
      /* Place the second copy of the text over top of the first */
      &-fixed span {
        position: absolute;
        left: 0;
        -webkit-text-stroke: 0;
        pointer-events: none;
      }
    }
    &-content {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 10px;
      width: 100%;
      &-arrow-new {
        display: flex;
        max-width: 10px;
      }
      &-arrow-old {
        display: none;
      }
    }
  }
}
