.menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0;
  &-top {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 10px 12px 0 12px;
    gap: 1px;
    height: 100%;
    width: 100%;
    &-logo {
      max-width: 309px;
      max-height: 109px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }
    &-routes {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 25px;
      font-size: 21px;
      &-dropdown {
        position: absolute;
        z-index: 99;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        background-color: #ffffff;
        border-radius: 10px;
        padding: 15px;
        width: 100%;
        max-width: 400px;
      }
    }
    &-vertical-line {
    }
    &-burger {
      display: none;
    }
    &-locales {
      font-size: 21px;
      display: flex;
      flex-direction: row;
      gap: 15px;
    }
    &-icons {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 10px;
    }
    &-button {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      max-width: 211px;
      max-height: 72px;
      color: #ffffff;
      border-radius: 40px;
      background-color: #7e1322;
      padding: 5px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      cursor: pointer;
      &-text {
        text-align: center;
        font-size: 21px;
        line-height: auto;
      }
    }
  }
}

.footer {
  width: 100%;
  height: 412px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 30px 0 0 0;
  max-height: 412px;

  &-map {
    width: 100%;
    height: 100%;
    max-width: 500px;
  }
  &-contacts {
    background-color: #7f1222;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    gap: 50px;
    width: 100%;
    height: 100%;
    &-title {
      font-size: 36px;
      font-weight: 600;
      color: #ffffff;
    }
    &-content {
      display: flex;
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      color: #ffffff;
      &-buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        &-button {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          text-align: center;
          gap: 10px;
          min-width: 306px;
          max-height: 68px;
          color: rgb(31, 30, 30);
          border-radius: 40px;
          background-color: #ffffff;
          padding: 15px;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          cursor: pointer;
          font-weight: bold;
        }
      }
    }
  }
}

@media (max-width: 1450px) and (min-width: 1150px) {
  .menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0;
    &-top {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      padding: 10px 12px 0 12px;
      gap: 1px;
      height: 100%;
      width: 100%;
      &-logo {
        max-width: 220px;
        max-height: 109px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
      }
      &-routes {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
        font-size: 16px;
        &-dropdown {
          position: absolute;
          z-index: 99;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 15px;
          background-color: #ffffff;
          border-radius: 10px;
          padding: 15px;
          width: 100%;
          max-width: 400px;
        }
      }
      &-vertical-line {
      }
      &-burger {
        display: none;
      }
      &-locales {
        font-size: 16px;
        display: flex;
        flex-direction: row;
        gap: 15px;
      }
      &-icons {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
      }
      &-button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        max-width: 180px;
        max-height: 72px;
        color: #ffffff;
        border-radius: 40px;
        background-color: #7e1322;
        padding: 5px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        &-text {
          text-align: center;
          font-size: 16px;
          line-height: auto;
        }
      }
    }
  }
}

@media (max-width: 1150px) and (min-width: 920px) {
  .menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0;
    &-top {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      padding: 10px 12px 0 12px;
      gap: 1px;
      height: 100%;
      width: 100%;
      &-logo {
        max-width: 180px;
        max-height: 109px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
      }
      &-routes {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;
        font-size: 12px;
        &-dropdown {
          position: absolute;
          z-index: 99;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 15px;
          background-color: #ffffff;
          border-radius: 10px;
          padding: 15px;
          width: 100%;
          max-width: 400px;
        }
      }
      &-vertical-line {
      }
      &-locales {
        font-size: 12px;
        display: flex;
        flex-direction: row;
        gap: 15px;
      }
      &-burger {
        display: none;
      }
      &-icons {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
      }
      &-button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        max-width: 120px;
        max-height: 72px;
        color: #ffffff;
        border-radius: 40px;
        background-color: #7e1322;
        padding: 5px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        &-text {
          text-align: center;
          font-size: 12px;
          line-height: auto;
        }
      }
    }
  }

  .footer {
    width: 100%;
    height: 412px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px 0 0 0;
    max-height: 312px;

    &-map {
      width: 100%;
      height: 100%;
      max-width: 300px;
    }
    &-contacts {
      background-color: #7f1222;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 20px;
      gap: 50px;
      width: 100%;
      height: 100%;
      &-title {
        font-size: 26px;
        font-weight: 600;
        color: #ffffff;
      }
      &-content {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: #ffffff;
        font-size: 14px;
        &-buttons {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 20px;
          &-button {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 10px;
            min-width: 206px;
            max-height: 68px;
            color: rgb(31, 30, 30);
            border-radius: 40px;
            background-color: #ffffff;
            padding: 15px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            cursor: pointer;
            font-weight: bold;
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media (max-width: 920px) {
  .menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0;
    &-top {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      align-items: center;
      padding: 10px 12px 0 12px;
      gap: 1px;
      height: 100%;
      width: 100%;
      z-index: 999;
      &-logo {
        max-width: 180px;
        max-height: 109px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        z-index: 999;
      }
      &-routes {
        display: none;
        flex-direction: row;
        align-items: center;
        gap: 15px;
        font-size: 12px;
        &-dropdown {
          position: absolute;
          z-index: 99;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 15px;
          background-color: #ffffff;
          border-radius: 10px;
          padding: 15px;
          width: 100%;
          max-width: 400px;
        }
      }
      &-vertical-line {
        display: none;
        border-left: 1px solid #797979;
        height: 100%;
        width: 1px;
      }
      &-locales {
        display: none;
        font-size: 12px;
        flex-direction: row;
        gap: 15px;
      }
      &-locales-menu {
        display: flex;
        font-size: 12px;
        flex-direction: row;
        gap: 15px;
      }
      &-burger {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        z-index: 999;
      }
      &-burger-menu {
        position: absolute;
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        background-color: #ffffff;
        border-radius: 10px;
        padding: 15px;
        width: 98%;
        top: 11%;
        right: 1%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        &-routes {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          gap: 5px;
          width: 100%;
          &-item {
            border-top: 1px solid #959595;
            padding: 5px 0;
            width: 100%;
          }
        }
      }
      &-icons {
        display: none;
        flex-direction: row;
        align-items: center;
        gap: 10px;
      }
      &-button {
        display: none;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        max-width: 120px;
        max-height: 72px;
        color: #ffffff;
        border-radius: 40px;
        background-color: #7e1322;
        padding: 5px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        &-text {
          text-align: center;
          font-size: 12px;
          line-height: auto;
        }
      }
      &-icons-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
      }
      &-button-menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        max-width: 120px;
        max-height: 72px;
        color: #ffffff;
        border-radius: 40px;
        background-color: #7e1322;
        padding: 5px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        &-text {
          text-align: center;
          font-size: 12px;
          line-height: auto;
        }
      }
    }
  }

  .footer {
    width: 100%;
    height: 412px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 0 0 0;
    max-height: 200px;

    &-map {
      width: 100%;
      height: 100%;
      max-width: 200px;
    }
    &-contacts {
      background-color: #7f1222;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding: 10px;
      gap: 10px;
      width: 100%;
      height: 100%;
      &-title {
        font-size: 12px;
        font-weight: 600;
        color: #ffffff;
      }
      &-content {
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        color: #ffffff;
        font-size: 8px;
        &-buttons {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 10px;
          &-button {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 10px;
            min-width: 106px;
            max-height: 68px;
            color: rgb(31, 30, 30);
            border-radius: 40px;
            background-color: #ffffff;
            padding: 5px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            cursor: pointer;
            font-weight: bold;
            font-size: 8px;
          }
        }
      }
    }
  }
}
